<div class="container-fluid">
   <div ng-show="courses.length > 0">
      <h3>Courses</h3>

      <table class="table table-striped">
         <thead>
         <tr>
            <th>Course name</th>
            <th>Actions</th>
         </tr>
         </thead>
         <tbody ng-model="courses">
         <tr ng-repeat="course in courses">
            <td><a href="#!/course/{{ course.id }}" editable-text="course.name" e-form="courseRowForm">{{ course.name }}</a>
            </td>
            <td>
               <form editable-form name="courseRowForm" onaftersave="updateCourseName(course)"
                     ng-show="courseRowForm.$visible"
                     class="form-buttons form-inline" shown="inserted == course">
                  <button type="submit" ng-disabled="courseRowForm.$waiting" class="btn btn-primary">Save</button>
                  <button type="button" ng-disabled="courseRowForm.$waiting" ng-click="courseRowForm.$cancel()"
                          class="btn btn-default">Cancel
                  </button>
               </form>
               <div class="buttons" ng-show="!courseRowForm.$visible">
                  <button type="button" class="btn btn-primary" ng-click="courseRowForm.$show()">Edit</button>
                  <button type="button" class="btn btn-danger" ng-click="deleteCourse(course)">Delete</button>
               </div>
            </td>
         </tr>
         </tbody>
      </table>
   </div>

   <h3>Add new Course</h3>

   <form class="form-inline" role="form" ng-submit="addCourse()">
      <div>
         <label for="course_name">Course Name</label>

         <div>
            <input type="text" id="course_name" placeholder="Course name" ng-model="course.name">
         </div>
      </div>
      <div>
         <div>
            <button class="btn" type="submit">New Course</button>
         </div>
      </div>
   </form>
</div>
