<div class="container-fluid">
   <h3>
      <span editable-text="course.name" e-form="courseNameForm"
            onaftersave="updateCourseName()">{{ course.name }}</span>
      <button class="btn btn-default" ng-click="courseNameForm.$show()" ng-hide="courseNameForm.$visible">Edit</button>
   </h3>

   <a href="#!/upload/{{course.id}}">Upload module</a>

   <table class="table table-striped">
      <thead>
      <tr>
         <th>Module Name</th>
         <th>Number of cards</th>
         <th>Actions</th>
      </tr>
      </thead>
      <tbody ui-sortable="sortableOptions" ng-model="course.modules">
      <tr ng-repeat="module in course.modules" style="cursor: move;">
         <td><a href="#!/cards/{{ module.id }}" editable-text="module.name" e-form="moduleRowForm">{{ module.name }}</a></td>
         <td><span>{{ module.cards.length }}</span></td>
         <td>
            <form editable-form name="moduleRowForm" onaftersave="updateModule(module)" ng-show="moduleRowForm.$visible"
                  class="form-buttons form-inline" shown="inserted == module">
               <button type="submit" ng-disabled="moduleRowForm.$waiting" class="btn btn-primary">Save</button>
               <button type="button" ng-disabled="moduleRowForm.$waiting" ng-click="moduleRowForm.$cancel()"
                       class="btn btn-default">Cancel
               </button>
            </form>
            <div class="buttons" ng-show="!moduleRowForm.$visible">
               <button type="button" class="btn btn-primary" ng-click="moduleRowForm.$show()">Edit</button>
               <button type="button" class="btn btn-danger" ng-click="deleteModule(module)">Delete</button>
            </div>
         </td>
      </tr>
      </tbody>
   </table>
</div>
