<div>
   <input type="file" file-change="handler($event,files)" ng-model="module_file"/>
</div>

<h4>{{ module.name }}</h4>

<table>
   <tr>
      <th>Side 1</th>
      <th>Side 2</th>
   </tr>
   <tr ng-repeat="card in module.cards">
      <td>{{ card.side1 }}</td>
      <td>{{ card.side2 }}</td>
   </tr>
</table>

<button class="btn" ng-click="addCards()">Upload Cards</button>
<button class="btn" ng-click="addModule()">Upload Module</button>
<button class="btn" ng-click="addModuleWithCards()">Upload everything at once!</button>